<div class="row">
  <div class="col-12">
    <form #filterForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="mb-3 col-4">
          <input
            type="search"
            class="form-control form-control-lg"
            id="page"
            name="page"
            placeholder="Page number"
            autocomplete="off"
            (change)="onChange($event)"
          />
        </div>
        <div class="mb-3 col-4">
          <select
            class="form-select form-select-lg mb-3"
            name="category"
            (change)="onChange($event)"
          >
            <option selected>Select Category</option>
            <option [value]="c.name" *ngFor="let c of categories">
              {{ c.name }}
            </option>
          </select>
        </div>

        <div class="mb-3 col-4">
          <select
            class="form-select form-select-lg mb-3"
            name="pageSize"
            (change)="onChange($event)"
          >
            <option selected>Select Range</option>
            <option value="9">9</option>
            <option value="18">18</option>
            <option value="36">36</option>
          </select>
        </div>
      </div>
    </form>
  </div>

  <div class="row col-12 px-3">
    <app-article-card
      *ngFor="let item of articles"
      [item]="item"
      class="col-4 mb-3 px-2"
    ></app-article-card>
  </div>
</div>
