<div class="container">
  <div class="row">
    <app-home></app-home>
  </div>

  <div class="row shadow p-3">
    <h2 class="text-muted fs-1">{{ getName() }}</h2>
    <h4 [title]="appName">{{ appName }}</h4>
    <h4 *ngIf="showMessage">{{ message }}</h4>
    <hr />
    <button class="btn btn-primary" (click)="onClick()">
      {{ showMessage ? 'Hide' : 'Show' }} Message
    </button>
  </div>

  <app-hello-world></app-hello-world>

  <div class="row shadow p-3 mt-4">
    <h2 class="fs-1 colorRed">Counter - {{ count }}</h2>
    <div class="col-12 btn-group">
      <button class="btn btn-primary" (click)="onAdd()">+</button>
      <button class="btn btn-info" (click)="onReset()">0</button>
      <button class="btn btn-danger" (click)="onMinus()">-</button>
    </div>
  </div>
</div>
