/* External stylesheets */
:root {
  font-size: 12px;
}

body {
  /* background-color: aquamarine; */
}
h1 {
  color: coral;
  font-size: 40px;
}
h2 {
  color: red;
}
h3 {
  color: brown;
}
h4 {
  color: seagreen;
}
h5 {
  color: yellowgreen;
}
h6 {
  color: tomato;
  font-size: 50px;
}
p {
  /* border-style: dotted;
    border-width: 4px;
    border-color: blueviolet; */
  border: blueviolet 1px solid;
}

a {
  color: #444;
}

.color-pink {
  color: palevioletred;
}

.color-orange {
  color: orange;
}

/* 
#paragraph {
  font-size: 50px;
  border-color: red;
} */

.paragraph {
  font-size: 30px;
  border-color: black;
}

.article {
  font-size: 25px;
  color: red;
}

.menu {
  /* border: 2px dotted #444; */
  /* border-radius: 10px; */
}

.menu-item {
  color: seagreen;
  font-size: larger;
}

.menu-link {
  color: chocolate;
}

.inner-menu .menu-link {
  color: red;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  border: 4px dotted #bbb;
  border-top: none;
  border-bottom: none;
  padding: 30px;
}
nav {
  height: 60px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}

.nav-link {
  display: inline-block;
  height: 100%;
  width: 70px;
  text-align: center;
  line-height: 60px;
  background-color: bisque;
  text-decoration: none;
}

.nav-link:hover {
  background-color: beige;
  border-bottom: 2px solid blueviolet;
}
